//_mp.scss
section {
  .more {
    a {
      color: $colorLightGray;
      &:hover {
        color: #fff;
      }
    }
  }
}
.titleH2 {
  &::before {
    content: '';
    background-image: url(../images/icon_star_r.svg);
  }
}

.titleH3 {
  color: #fff;
}

.announcement {
  color: #fff;
}

.descriptionBlock {
  .container {
    &::before {
      background-image: url(../images/sticker_left_r.png), url(../images/sticker_right_r.png);
    }
  }
}

.winnerList {
  color: #fff;
  .titleH2 {
    &::before {
      background-image: url(../images/icon_star_w.svg);
    }
  }
  .more {
    a {
      background: rgba(255, 255, 255, 0.35);
      &:hover {
        color: $colorWord;
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.locationBlock {
  .info {
    color: #fff;
    .title {
      color: $colorWord;
    }
  }
}

//_btn.scss
.btnSearch {
  color: #fff;
}

//_element.scss
.scrollToTop {
  background-image: url(../images/icon/icon_arrow_up.svg);
}

//_category.scss
.category {
  a {
    &:hover,
    &:focus,
    &.active {
      color: #fff;
    }
  }
}

//_pagination.scss
.pagination {
  .page {
    li {
      &:hover,
      &:focus,
      &.active {
        a {
          color: #fff;
        }
      }
    }
  }
}

//_thumbnail.scss
.thumbnail {
  a {
    .label {
      color: #fff;
    }
  }
}
